<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>QuickUP</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/">
			<h2>QuickUP</h2>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
			aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</nav>
	<br>
	<br>

	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class="text-center"> Create Task </h1>
				<div class="card-body">
					<form th:action="@{/addtask}" th:object="${t}" method="POST">
						<div class="form-group">
							<label> Task </label>
							<input type="text" name="task" th:field="*{task}" class="form-control"
								placeholder="Enter Task" />
						</div>

						<div class="form-group">
							<label> Priority </label>
							<input type="number" name="priority" th:field="*{priority}" class="form-control"
								placeholder="Enter Priority" />
						</div>

						<div class="box-footer">
							<button type="submit" class="btn btn-primary">
								Submit
							</button>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>
</body>

</html>